In [2]:
from zoo import hours

hours()

Open 9-5 daily

In [18]:
import zoo as menagerie

menagerie.hours()

Open 9-5 daily

In [1]:
import sqlite3

conn = sqlite3.connect('books.db')
curs = conn.cursor()

curs.execute('''CREATE TABLE IF NOT EXISTS books
            (title TEXT, 
            author TEXT, 
            year INTEGER)''')

conn.commit()

ins = 'INSERT INTO books (title, author, year) VALUES (?, ?, ?)'

curs.execute(ins, ('The Weirdstone of Brisingamen', 'Alan Garner', 1960))
curs.execute(ins, ('Perdido Street Station', 'China Mieville', 2000))
curs.execute(ins, ('Thud!', 'Terry Pratchett', 2005))
curs.execute(ins, ('The Spellman Files', 'Lisa Lutz', 2007))
curs.execute(ins, ('Small Gods', 'Terry Pratchett', 1992))

In [10]:
import sqlalchemy as sa

conn= sa.create_engine('sqlite:///books.db')

order = 'SELECT title FROM books ORDER BY title'

new = curs.execute(order).fetchall()

for row in new:
    print(row[0])

Perdido Street Station
Small Gods
The Spellman Files
The Weirdstone of Brisingamen
Thud!